<h1>Add a New Record</h1>

<form action="/music/new" method="post">
  <label for="title">Title or Record:</label>
  <input id="title" name="title" type="text">
  <button type="submit" class="btn-primary">Submit</button>
</form>